<div id="<%= dom_id expense_transaction %>">
  <p>
    <strong>Name:</strong>
    <%= expense_transaction.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= expense_transaction.amount %>
  </p>

  <p>
    <strong>User:</strong>
    <%= expense_transaction.user_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= expense_transaction.group_id %>
  </p>

</div>
