<p style="color: green"><%= notice %></p>

<%= render @expense_transaction %>

<div>
  <%= link_to "Edit this expense transaction", edit_expense_transaction_path(@expense_transaction) %> |
  <%= link_to "Back to expense transactions", expense_transactions_path %>

  <%= button_to "Destroy this expense transaction", @expense_transaction, method: :delete %>
</div>
