<%= form_with(model: group,  url: (group.new_record? ? groups_path : group_path(group)), method: (group.new_record? ? :post : :patch)) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
    <%= form.text_field :name , class:'field' , placeholder: 'Name'%>

    <%= form.text_field :icon , class:'field', placeholder: 'Icone' %>
 
    <%= form.submit  %>
  
<% end %>
