<!DOCTYPE html>
<html>
  <head>
    <title>BudgetTrackerApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% if user_signed_in? %> 
    <div class='header'>
   
    <i class="fa-solid fa-bars icons"></i>
    <h1>CATEGORIES</h1>
    
       <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class:'header_link' do %>
        <i class="fa-solid fa-user icons"></i>
        <strong>sign out</strong>
        
    <% end %>
  </div>
  <%end%>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
